<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form #detailForm="ngForm">
        <div class="row">
          <label class="form-group">Name: <span class="text-danger">*</span></label>
          <input required type="text" #nameRef="ngModel" name="name" class="form-control" [(ngModel)]="dataObj.name">
          <span class="text-danger" *ngIf="nameRef.touched && nameRef.invalid" style="font-size: 12px;">Name is
            Required</span>
        </div>

        <div class="row">
          <label class="form-group">
            Mobile Number: <span class="text-danger">*</span>
          </label>
          <input required type="number" name="mobile" pattern="[0-9]{10,12}" #mobileRef="ngModel" class="form-control"
            [(ngModel)]="dataObj.mobileNo">
          <span class="text-danger" *ngIf="mobileRef.touched && mobileRef.invalid" style="font-size: 12px;">Mobile
            number
            must be 10 digits</span>
        </div>
        <br>
        <div class="row">
          <button (click)="save()" class="btn btn-primary" [disabled]="detailForm.invalid">
            Save</button>&nbsp;
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <div class="row">
        <input type="text" placeholder="Search" class="form-control" (keyup)="search()" [(ngModel)]="this.searchQuery">
      </div><br>
      <div class="row">
        <div class="table-striped table-vertical-striped" style="width: 100%;
      table-layout: fixed;
      display: table;">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Name</th>
              <th>Mobile No</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of data; let i=index">
              <td>{{i+1}}</td>
              <td>{{list.name}}</td>
              <td>{{list.mobileNo}}</td>
              <td style="padding:4px">
                <span class="fa fa-edit"></span>
                <button container="body" tooltip="Edit" class="btn btn-info btn-sm" (click)="edit(list)">
                  <span class="fa fa-edit"></span> Edit</button>&nbsp;
                <button class="btn btn-sm btn-danger" container="body" (click)="delete(i)">Delete <span class="fa fa-trash"></span></button>&nbsp;
              </td>
            </tr>
          </tbody>
        </div>
      </div>
    </div>
  </div>
</div>